:root {
  --background-blue: #222b37;
  --dark-blue: #161f27;
  --blue-gray: #283341;
  --blue-lightgray: #3a4a5e;
  --black: #000;
  --cherry: rgb(128, 26, 77);
  --gray: #f5f5f5;
  --links: rgb(65, 173, 255);
  --white: rgb(219, 219, 219);
  --red: #ff0000;
}

main.admin {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4rem;
}

main input[type='submit'] {
  background-color: var(--cherry);
  color: var(--white);
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
}

.admin-rooms,
.admin-features {
  width: 100%;
}

.admin-rooms,
.admin-features,
#update-room,
#update-feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.update-message-container {
  width: 100%;
  padding: 12px 24px;
}

.update-message {
  border-radius: 5px;
  padding: 2rem;
  text-align: center;
  background-color: var(--blue-lightgray);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.update-message.error {
  background-color: var(--cherry);
}

.admin h2:nth-of-type(1) {
  margin-top: 2rem;
}

label {
  margin-top: 1rem;
}

.admin-reservations {
  width: 100%;
}

.admin-reservations table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.admin-reservations table td,
.admin-reservations table th {
  border: 1px solid var(--white);
  padding: 8px;
}

.admin-reservations table th {
  text-align: left;
  font-weight: bold;
  background-color: var(--blue-lightgray);
}

@media (min-width: 400px) {
  .update-message,
  .admin-rooms,
  .admin-features {
    width: 390px;
  }

  .update-message-container {
    width: 100%;
    padding: 24px 64px;
  }
}

@media (min-width: 1200px) {
  .admin-reservations table {
    width: 50%;
  }
}
