:root {
  --background-blue: #222b37;
  --dark-blue: #161f27;
  --blue-gray: #283341;
  --blue-lightgray: #3a4a5e;
  --black: #000;
  --cherry: rgb(128, 26, 77);
  --gray: #f5f5f5;
  --links: rgb(65, 173, 255);
  --white: rgb(219, 219, 219);
  --red: #ff0000;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--links);
}

input,
select,
textarea {
  color: var(--white);
  background-color: var(--dark-blue);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

select {
  color: var(--white);
}

select#room-type {
  all: unset;
}

label {
  vertical-align: middle;
  margin-bottom: 4px;
  display: inline-block;
}

body {
  max-width: unset;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-blue);
  padding: 0;
  margin: 0;
  color: var(--white);
}

header {
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  min-height: 36dvh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 12px 24px;
}
footer {
  background-color: var(--dark-blue);
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  font-size: 0.75rem;
  margin-top: 2rem;
}

h1 {
  font-family: 'Gilda Display', cursive;
  color: var(--white);
  font-size: 3.2rem;
  font-weight: 600;
  margin: 24px 0 12px 0;
}

h2 {
  font-weight: 600;
  margin: 0 0 24px 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px 24px;
}

#choose-comfort-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
}

#booking-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
}

/* Rooms */
.rooms {
  width: 100%;
}

#choose-comfort-form input.show-availability {
  font-size: inherit;
  border: none;
  background-color: var(--dark-blue);
  display: inline-block;
  color: var(--white);
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 0;
  margin-right: 0;
  border-radius: 5px 5px 0 0;
  /* position: relative; */
}

#choose-comfort-form input.show-availability:not(.selected) {
  background-color: var(--background-blue);
}

.room-info {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.room-info:not(.selected) {
  display: none;
}

.room-img {
  width: 100%;
  /* padding: 1rem 1rem 0 1rem; */
}

/* Calendar */
.date-container select,
.date-container select:disabled,
.date-container input {
  opacity: 1;
  width: 100%;
  font-size: 0.75rem;
  color: var(--white);
}

.calendar {
  width: 100%;
  /* padding: 2vw; */
}

.calendar-body {
  margin-top: 1rem;
}

.calendar-weekdays,
.calendar-dates {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 1vw;
  column-gap: 1vw;
}

.calendar-weekdays {
  margin-bottom: 1vw;
}
.calendar-dates li {
  font-size: 0.75rem;
  background-color: var(--white);
  width: 100%;
  min-height: 12vw;
  padding: 0.5vw 1vw;
  border-radius: 5px;
  color: var(--background-blue);
  position: relative;
}

.calendar-dates input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.calendar-dates li.booked {
  background-color: var(--blue-gray);
  color: var(--blue-gray);
}

.calendar-dates li.available,
.calendar-dates li.selected {
  cursor: pointer;
}

.calendar-dates li.selected {
  background-color: rgb(128, 26, 77);
  color: var(--white);
}

.calendar-dates li.out-of-range:not(.booked) {
  background-color: gray;
}

/* Booking form  */
.booking-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vw;
}

.reservation {
  background-color: var(--dark-blue);
  padding: 1rem;
  width: 100%;
}
.reservation button {
  padding-right: 30px;
  padding-left: 30px;
  color: var(--white);
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px 30px;
  border: none;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
}

#reserve-btn {
  margin-top: 1rem;
  background-color: var(--cherry);
}

.personal input[type='text'] {
  background: var(--white);
  color: #000;
}

/* Features */
.features-container {
  width: 100%;
  position: relative;
}

.features {
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
}

.features .cta-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 12px;
}

.cta-container label {
  color: var(--links);
}

.feature-slider {
  width: 100%;
  height: fit-content;
  /* position: relative; */
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

.feature-slider::-webkit-scrollbar {
  display: none;
}

.feature {
  min-height: 450px;
  width: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  font-size: 14px;
  background-color: var(--blue-gray);
  padding: 1rem;
  border-radius: 5px;
}

.feature h3 {
  height: 2rem;
  font-size: 16px;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.feature img {
  width: 100%;
  border-radius: 5px;
  /* float: right; */
  margin-bottom: 0.25rem;
}

.feature p {
  margin-top: 0.5rem;
}

.feature .checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.feature input[type='checkbox'] {
  display: none;
}

.feature label {
  cursor: pointer;
  font-size: 1rem;
}

.feature input ~ label::after {
  font-family: 'Font Awesome 5 Free';
  font-size: 1rem;

  content: '\f0c8';
  padding-left: 0.5rem;
}

.feature input:checked ~ label::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f14a';
  color: hotpink;
}

/* Slider buttons */
.slider-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  top: 50%;
  opacity: 0.25;
}

.slider-btn:hover {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  opacity: 1;
}

.slider-btn > i {
  font-size: 2rem;
  color: var(--white);
}

.slider-btn.left {
  left: -0.5rem;
  display: none;
}

.slider-btn.right {
  right: -0.5rem;
}

/* Reservation form */

.date-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: calc(35% - 0.67rem);
}
.date-container:nth-of-type(1) {
  width: calc(30% - 0.67rem);
}

.arrival-departure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.reservation-flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.reservation-flex-item {
  width: 100%;
}

.reservation-flex-item.price label {
  width: 100%;
}
.reservation-flex-item.price label:nth-of-type(3) {
  margin-top: 2rem;
}

.reservation-flex-item.price input {
  font-size: 1rem;
  width: 2rem;
  color: var(--white);
  text-align: right;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0.5rem;
}

.reservation-flex-item.price input:nth-of-type(3) {
  font-size: 1.5rem;
}

.reservation input {
  width: 100%;
}

/* Media query from 1200px */
@media (min-width: 1200px) {
  header {
    width: 100%;
    min-height: 36dvh;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 12px 24px;
  }

  header,
  footer {
    justify-content: flex-start;
    padding: 12px 64px;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  footer div:nth-child(4) {
    margin-bottom: 0.5rem;
  }

  main {
    padding: 24px 64px;
  }

  .rooms {
    width: calc(50% - 1rem);
  }

  .calendar {
    width: calc(50% - 1rem);
  }

  .room-info {
    padding: 3rem;
  }
  /* Calendar */
  /* Calendar */
  .date-container select,
  .date-container select:disabled,
  .date-container input {
    opacity: 1;
    width: 100%;
    font-size: 1rem;
    color: var(--white);
  }

  .calendar-dates li {
    font-size: 1rem;
    padding: 0.25rem 0.45rem;
    min-height: 4rem;
  }

  /* Reservation */
  .reservation {
    width: calc(50% - 5rem);
    margin-left: 4rem;
    margin-top: 54px;
    padding: 1rem 2rem;
    border-radius: 5px;
  }

  .reservation-flex-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
  }

  .reservation-flex-item {
    width: calc(50% - 0.5rem);
    /* width: calc(100%); */
  }

  .reservation label {
    width: 100%;
  }
  .reservation input {
    width: 100%;
  }

  /* Features */
  .features-container {
    width: calc(50% - 1rem);
  }

  .features {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
  }

  .features .cta-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.5rem;
  }

  .feature-slider {
    height: fit-content;
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 3rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overscroll-behavior-x: contain;
    scrollbar-color: transparent transparent;
    scrollbar-width: none;
  }

  .feature-slider::-webkit-scrollbar {
    display: none;
  }

  .feature {
    min-height: 450px;
    width: calc(33.33% - 0.67rem);
    scroll-snap-align: start;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    font-size: 14px;
    background-color: var(--blue-gray);
    padding: 1rem;
    border-radius: 5px;
  }

  .feature h3 {
    height: 3.5rem;
  }

  .slider-btn > i {
    font-size: 2rem;
  }

  .slider-btn.left {
    left: -1.5rem;
  }

  .slider-btn.right {
    right: -1.5rem;
  }
}
