:root {
  --background-blue: #222b37;
  --dark-blue: #0e151b;
  --blue-gray: #283341;
  --blue-lightgray: #3a4a5e;
  --black: #000;
  --gray: #f5f5f5;
  --white: #fff;
  --red: #ff0000;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-blue);
}

main {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 2rem;
  padding: 0 64px;
}

/* Rooms */
.rooms {
  width: calc(50% - 1rem);
}

#choose-comfort-form input.show-availability {
  background-color: var(--dark-blue);
  display: inline-block;
  color: var(--white);
  cursor: pointer;
  padding: 1rem;
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
  /* position: relative; */
}

#choose-comfort-form input.show-availability:not(.selected) {
  background-color: var(--background-blue);
}

.room-info {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem;
}

.room-info:not(.selected) {
  display: none;
}

.room-img {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

/* Calendar */

.calendar {
  width: calc(50% - 1rem);
}

.calendar-weekdays,
.calendar-dates {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}

.calendar-weekdays {
  margin-bottom: 1rem;
}
.calendar-dates li {
  background-color: var(--white);
  width: 100%;
  min-height: 4vw;
  padding: 5px;
  border-radius: 5px;
  color: var(--background-blue);
  position: relative;
}

.calendar-dates input[type='checkbox'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.calendar-dates li.booked {
  background-color: var(--blue-gray);
  color: var(--blue-gray);
}

.calendar-dates li.available,
.calendar-dates li.selected {
  cursor: pointer;
}

.calendar-dates li.selected {
  background-color: hotpink;
  color: var(--white);
}

.calendar-dates li.out-of-range:not(.booked) {
  background-color: gray;
}

/* Booking form  */
.booking-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4vw;
}

.reservation {
  width: calc(50% - 1rem);
}

.reservation-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Features */
.features-container {
  width: 100%;
}

.features {
  height: 400px;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  position: relative;
}

.features .cta-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 0.5rem;
}

.feature-slider {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 3rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  scrollbar-color: transparent transparent;
  scrollbar-width: none;
}

.feature-slider::-webkit-scrollbar {
  display: none;
}

.feature {
  height: 100%;
  width: 250px;
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  font-size: 14px;
  background-color: var(--blue-gray);
  padding: 1rem;
  border-radius: 5px;
}

.feature.selected {
  background-color: var(--blue-lightgray);
}

.features-container {
  position: relative;
}

.feature:last-of-type {
  margin-right: 10vw;
}
.fade-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5;
  width: 10vw;
  height: 100%;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    transparent,
    var(--background-blue)
  );
  border-radius: 0 5px 5px 0;
}

.feature h3 {
  height: 3rem;
  font-size: 16px;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.feature img {
  width: 100%;
  border-radius: 5px;
  /* float: right; */
  margin-bottom: 0.25rem;
}

.feature .checkbox-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.feature input[type='checkbox'] {
  display: none;
}

.feature label {
  cursor: pointer;
  font-size: 1rem;
}

.feature input ~ label::after {
  font-family: 'Font Awesome 5 Free';
  font-size: 1rem;

  content: '\f0c8';
  padding-left: 0.5rem;
}

.feature input:checked ~ label::after {
  font-family: 'Font Awesome 5 Free';
  content: '\f14a';
  color: hotpink;
}

/* Reservation form */
.date-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.date-container input {
  width: 100%;
}

.arrival-departure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}
