.update-message-container,
main.success {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

main.success {
  height: 40vh;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
